build/
install/
log/
.vscode/
__pycache__/
*.pyc

# pixi environments
.pixi/*
!.pixi/config.toml

venv/

src/Lite3_sdk_deploy/Lite3_description/lite3_mjcf/meshes/warehouse/*
src/Lite3_sdk_deploy/Lite3_description/lite3_mjcf/mjcf/warehouse.xml
src/Lite3_sdk_deploy/Lite3_description/lite3_mjcf/mjcf/Lite3_warehouse.xml